.applicant-dashboard,
.step-info {
	font-size: 116%;
	margin-bottom: 6rem;
}

.step-info b,
.applicant-dashboard b{
	padding-left: 10px
  }
.applicant-dashboard {margin-top: -20px;}

.msg-approved {
	color: green;
}

.step-approved {
	background:  green;
}

.msg-submitted {
	color: blue;
}

.step-submitted {
	background:  blue;
}

.step-rejected {
	background: #EF9B0F;
}

.msg-rejected {
	color: #EF9B0F;
}

.submit-url .form-text {
	color:#ee0402;
	font-size: 85%;
    font-weight: 600;
}

.hidden {
	display: none;
}

.block {
	display: block;
}

.step-overview {
	border-bottom: 3px solid #711b1b;
    padding: 1.3rem 0;
}

.step-overview p {
	margin-bottom: -22px;
	font-size: 1.5rem;
}

.congrat-message {
	padding-top: 0.5rem;
	margin-bottom: 1rem;
	text-align: center;
	border: 2px solid green;
	background-color: #e4ffe3;
}

.card-step {
	position: relative;
	box-shadow: 1px 0px 11px 0px rgba(46,61,73,.2);
	transition: all .3s ease;
}

.congrat-message {
	padding-top: 0.5rem;
	margin-bottom: 1rem;
	text-align: center;
	border: 2px solid green;
	background-color: #e4ffe3;
}

.applicant-dashboard a {
	display: block;
	transition: color .3s ease
}

.card-step:hover {
	box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.applicant-dashboard  a{
	color: #212529;
}

.applicant-dashboard  a,
.step-info a {
	text-decoration: none;
}

.applicant-dashboard .container :nth-child(6),
.none {
	display: none;
}

.step-title {
	display: flex;
	flex-direction: row;
}

.title-color {
    text-transform: uppercase;
}

.step-number {
    background: #25030370;
}

.step-approved,
.step-number,
.step-submitted, .step-rejected{
	font-weight: 700;
    color: #fff;
	position: relative;
    font-size: 110%;
}

.step-name {
	width: 100%;
}

/* SINGLE STEP */

.single-step {
	border-radius: 0;
	box-shadow: 5px 5px 25px 0 rgba(46,61,73,.4);
	background: transparent;
}

.card-head{
	content: "";
	background: linear-gradient(129deg, #D12F2F 7%, #262626 97%);
    height: 15px;
    position: relative;
    top: 33px;
}

button.btn-go,
.btn-go:hover {
    border-radius: 48px;
}

li span a{
	display: block;
}

@media screen and (max-width: 580px){
	.applicant-dashboard,
	.step-info {
		font-size: 100%;
	}

	.display-4 {
		font-size: 1.5rem;
	}
	.applicant-dashboard a .card-step {
		margin: .6rem !important;
	}

	.card-step {
		border-radius: 0;
	}

	.step-title span {
		font-size: 90%;
	}

	.step-name {
		padding: .8rem 0 0 .5rem !important;
	}

	.form-group {
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	button.btn {
		margin-top: 1rem;
		margin-left: 0!important;
	}
}