.applicants-table {
	font-size: 1rem;
	text-align: center;
}

.applicant-table a {
	color: #000;
}

.status-submitted {
	color: blue;
}

.status-rejected {
	color: red;
}

.status-approved {
	color: green;
}